@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}

.pricing-tables{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 60%;
    margin-bottom: 4em;
}

.pricing-tables table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.pricing-tables td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 1.25em;
}

.pricing-tables p{
    font-size: 1.5em;
    margin-top: 2em;
    text-align: center;
}

.header {
    margin-bottom: 4em
} 

.navbar-brand img{
    max-height: 4em;
    margin-left: 1em;
    margin-right: 1em;
}

.nav-item > .nav-link{
    font-size: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.intro-image{
    max-width: 40em;
}

.introduction{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.introduction h1{
    font-size: 3rem;
    margin-bottom: 0;
}

.introduction p{
    font-size: 1.75rem;
}

.introduction ul{
    list-style-image: url('images/checkmark.svg');
    font-size: 1.5rem;
}

.introduction li{
    background-size: 20px;
}

.introduction img{
    max-width: 40rem;
}

.service-section{
    text-align: center;
    padding: 2em;
}

.services{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
    font-size: 1.75em;
}

.services ul{
    text-align: left;
}

.services img{
    max-height: 5em;
}


details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}

footer {
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    padding: 40px 100px;
    background: rgb(62, 62, 62);
    color: white;
}

footer img{
    max-height: 7em;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list p {
    color: #9098A0
}

footer ul {
    list-style: none;
    margin: none;
}

footer a {
    color: white;
    transition: color 0.3s;
}

footer a:hover {
    color: #7a4efd;
}

.contact-form{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
    font-size: 1.25em;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-details{
    margin-left: 2em;
    margin-right: 2em;
}

@media only screen and (max-width: 900px){
    footer{
        display: none;
    }
}

@media only screen and (max-width: 900px){
    .introduction{
        display: flex; 
        justify-content: space-around;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
        flex-direction: column;
    }
}

@media only screen and (max-width: 750px){
    .services{
        margin-top: 2em;
        margin-bottom: 2em;
        display: flex;
        justify-content: space-around;
        font-size: 1.75em;
        flex-direction: column;
    }
}